@import 'tailwindcss';

:root {
  --text-xs: 10px;
  --text-sm: 12px;
  --background: #000000;
  --foreground: #ffffff;

  --primary: #fff;
  --secondary: #9e9d9d;
  --neutral: #4b4b4b;
  --accent: #0f0f0f;
  --error: #ff0000;
  --stroke: #1c1b1b;
}

@theme inline {
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-error: var(--error);
  --color-stroke: var(--stroke);

  --font-anonymous-pro: var(--font-anonymous-pro);
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
  }

  body {
    @apply bg-background text-foreground font-anonymous-pro antialiased;
  }

  button {
    cursor: pointer;
  }

  @keyframes dotOpacityPulse {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  .dot-opacity-pulse {
    animation: dotOpacityPulse 2s ease-in-out infinite;
  }

  .hidden-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
