@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #fff;
  --secondary: #000;
  --stroke: #272626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-stroke: var(--stroke);

  --font-anonymous-pro: var(--font-anonymous-pro);
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
  }

  body {
    @apply bg-background text-foreground font-anonymous-pro antialiased;
  }

  @keyframes dotOpacityPulse {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  .dot-opacity-pulse {
    animation: dotOpacityPulse 2s ease-in-out infinite;
  }
}
